@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,700;1,300&display=swap');

body {
	margin: 0;
	padding: 0;
	background-color: #282c34;
	min-height: 100vh;
	display:flex;
	justify-content: center;
	align-items: center;
	flex: content;
}

h1 {
	font-size: 44pt;
	/* font-weight: bold; */
	margin-bottom: 20px;
	text-align: center;
}

h2 {
	font-size: 24pt;
	font-weight: bold;
	margin-top: 40px;
}

h3 {
	font-size: 14pt;
	font-weight: bold;
	margin-top: 8px;
}

* {
	color: white;
	font-family: 'Ubuntu', 'Segoe UI', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

td:first-child {
	text-decoration: underline;
}

td {
	text-align: left;
	max-width: 500px;
}

p {
	margin-top: 20px;
}

select {
	appearance: none;
	background-color: #2f3c55;
	font-size: 16px;
	font-weight: bold;
	color: white;
	padding: 8px;
	padding-left: 40px;
	padding-right: 40px;
	border: none;
	border-radius: 99px;
	cursor: pointer;
	border: 1px solid #fff8;
}

input {
	min-width: 200px;
	width:20vw;
	padding: 8px;
	font-size: 16px;
	text-align: center;
	background-color: #2f3c5580;
	color: #eee;
	border-radius: 99px;
	border: 1px solid #fff8;
}
input:focus {
	outline: none;
}